[Canvas helpers configuration file]
# Use this file to add your own API access token(s) and domain details as documented below.

# A Canvas API Token is required for all of the helper scripts. To get this token for your own use, go to the Settings
# page of your Canvas profile (https://[your Canvas site]/profile/settings) and click '+ New access token'. Paste the
# resulting token below.
canvas_api_token = *** your Canvas API access token here ***


# ----------------------------------------------------------------------------------------------------------------------
#     Most helper tools require only the standard Canvas API token above, but in some cases additional details are
#     required as outlined below. These fields can be ignored if you don't use the helper tools that require them.
# ----------------------------------------------------------------------------------------------------------------------

# The quiz result exporter script needs to know the LTI API location for your version of Canvas. To get this value, open
# the Network tab of your browser's Developer Tools whilst in the assignment's SpeedGrader view, then look at the list
# of Request URLs to find one similar to https://[your LTI institution subdomain].quiz-lti-dub-prod.instructure.com/api/
lti_institution_subdomain = *** your LTI subdomain here ***

# The quiz result exporter script also requires an access token for the Quiz LTI app. There are two ways to get this:
# 1) Visit the quiz assignment in question and then open your browser's Developer Tools. In the Network tab, look at the
#    Request Headers for one of the initial requests (such as 'info') and copy the token from the 'authorization' row.
# 2) Alternatively, open your browser's JavaScript console in the quiz assignment's SpeedGrader view and enter
#    `open(window.speedgrader_iframe.src)` (without quotes). In the window that opens, open the console again and enter
#    `window.sessionStorage.access_token` (without quotes). The returned value (without quotes) is the token you need.
# NOTE: this token is short-lived, so needs to be re-entered periodically - just follow either of the steps above again.
lti_bearer_token = *** your LTI bearer token here ***
