[Canvas helpers configuration file]
# Use this file to add your own API access token(s) and domain details as documented below.

# A Canvas API Token is required for all of the helper scripts. To get this token for your own use, go to the Settings
# page of your Canvas profile (https://[your Canvas site]/profile/settings) and click '+ New access token'. Paste the
# resulting token below.
;suppress inspection "SpellCheckingInspection"
canvas_api_token = *** your Canvas API access token here ***


# ----------------------------------------------------------------------------------------------------------------------
#     The quizzes created by the WebPA script can be edited if required by changing the default content below.
# ----------------------------------------------------------------------------------------------------------------------

# Customise the WebPA quiz title and description below. Note that [group name] will be appended to the title value for
# later use when processing responses. The title must be plain text, but the description can use basic HTML.
webpa_quiz_title = Peer contribution assessment
webpa_quiz_description = <p>For each rating question, please choose a number from 1–5:</p>
                         <ol>
                         <li>Made only a small contribution, or contributed work of a poor standard</li>
                         <li><i>(between 1 and 3)</i></li>
                         <li>Made an average contribution</li>
                         <li><i>(between 3 and 5)</i></li>
                         <li>Contributed to the most challenging aspects of the work at a high standard</li>
                         </ol>
                         <p>Enter a rating for <u>every</u> group member, <u>including yourself</u>.</p>
                         <p>If a group member is entirely unresponsive, report this separately (and rate them as 1 in
                         this exercise).</p>

# --- Start of WebPA setup when using traditional Canvas quizzes ---
# Use this value to customise the rating WebPA quiz questions. The `webpa_rating_question_description` value *must*
# contain the string `{group member}` to allow individual group members' details to be inserted. If needed, it can also
# use basic HTML. (Note: we don't currently use quiz question titles as Canvas doesn't seem to actually display them.)
webpa_rating_question_description = <p>Enter a contribution rating for {group member}. Your response must be a number –
                                    either 1, 2, 3, 4, or 5. Ratings that are not integers within the range 1–5 will be
                                    rounded to the nearest valid value or discarded.</p>
# --- End of WebPA setup when using traditional Canvas quizzes ---

# --- Start of WebPA setup when using "New" Canvas quizzes ---
# "New" quizzes support multiple choice questions, so each response option can be customised individually. The
# `webpa_rating_question_body` value *must* contain the string `{group member}` to allow individual group members'
# details to be inserted. The five `webpa_rating_question_choice_[n]` values will have the numeric value prepended
# to the text shown here. All values can use basic HTML.
webpa_rating_question_body = <p>Enter a contribution rating for {group member}.</p>
webpa_rating_question_choice_1 = Made only a small contribution, or contributed work of a poor standard
webpa_rating_question_choice_2 = <i>(between 1 and 3)</i>
webpa_rating_question_choice_3 = Made an average contribution
webpa_rating_question_choice_4 = <i>(between 3 and 5)</i>
webpa_rating_question_choice_5 = Contributed to the most challenging aspects of the work at a high standard
# --- End of WebPA setup when using "New" Canvas quizzes ---


# Customise the post-rating general comments WebPA question below. The value can use basic HTML. (Note: we don't
# currently use quiz question titles as Canvas doesn't seem to actually display them.)
webpa_comment_question_description = <p><u>Optional</u>: enter any additional comments about group member contribution.
                                     You can enter "None" or leave blank to skip.</p>


# ----------------------------------------------------------------------------------------------------------------------
#     Most helper tools require only the standard Canvas API token above, but in some cases additional details are
#     required as outlined below. These fields can be ignored if you don't use the helper tools that require them.
# ----------------------------------------------------------------------------------------------------------------------

# ---- New Quizzes -----------------------------------------------------------------------------------------------------
# Scripts that interact with results from Canvas New Quizzes require an access token because the Canvas API still does
# not support programmatic or bulk access to quiz results(!). There are three ways to get this value:
# 1) The easiest way: install the Canvas Helpers Userscript (see the end of https://github.com/simonrob/canvas-helpers)
#    and then visit the SpeedGrader page of any New Quiz. Select a student who has already responded to the quiz, and at
#    the top of the results page you will see a new button labelled "Display/copy New Quiz API token". The value that is
#    displayed (and copied to your clipboard) when you click this button is the token you need.
#
# - or -
#
# 2) Open your browser's console in the quiz assignment's SpeedGrader view and enter:
#        open(window.speedgrader_iframe.src)
#    Note: you may need to allow popups for your institution's Canvas pages for this to work. In the window that opens,
#    open the browser's console again, and enter:
#        window.sessionStorage.access_token
#    The returned value (without quotes) is the token you need.
#
# - or -
#
# 3) Visit the quiz assignment in question and then open your browser's Developer Tools. In the Network tab, look at the
#    Request Headers for one of the initial requests (such as 'info') and copy the token from the 'Authorization' row.
#
# NOTE: this token is short-lived, so needs to be re-entered periodically - just follow any of the steps above again.
new_quiz_lti_bearer_token = *** your Canvas New Quiz bearer token here ***


# ---- Studio -----------------------------------------------------------------------------------------------------
# The Studio Embed Helper script requires two configuration parameters. The easiest way to obtain these values is to
# install the Canvas Helpers Userscript and then, either in the Studio left sidebar (which you will need to click to
# expand), or in the main Studio settings page, click the new button labelled "Display/copy Studio API token".
#
# Alternatively, visit any Studio page and inspect its network requests as described above. Use the search field to
# filter requests URLs containing 'users', and extract the relevant values:
# studio_lti_subdomain is the 'host' value, and typically takes the form [institution name].instructuremedia.com
# studio_lti_bearer_token comes from the 'Authorization' row of the Request Headers. It typically takes the form
# user_id="[number]", token="[hexadecimal token value]".
#
# NOTE: this token is short-lived, so needs to be re-entered periodically - just follow either of the steps above again.
studio_lti_subdomain = *** your Canvas Studio institution subdomain here ***
studio_lti_bearer_token = *** your Canvas Studio bearer token here ***
