[Canvas helpers configuration file]
# Use this file to add your own API access tokens and domain details as documented below.

# To get this token, go to https://canvas.swansea.ac.uk/profile/settings and click '+ New access token'
canvas_api_token = *** your Canvas API access token here ***

# To get this token, visit the speed grader view of an assignment and then open your browser's developer tools. In the
# Network tab, look at the headers for one of the initial requests and copy the token from the authorization header
# *note*: this is a short-lived token, so needs to be re-entered periodically
lti_bearer_token = *** your LTI bearer token here ***

# To get this value, open the developer tools network tab in the speed grader as described above, then look at the
# request URLs to find one similar to https://yourltisubdomain.quiz-lti-dub-prod.instructure.com/api/ - here the value
# needed would be yourltisubdomain
lti_institution_subdomain = *** your LTI subdomain here ***
