[Canvas helpers configuration file]
# Use this file to add your own API access token(s) and domain details as documented below.

# A Canvas API Token is required for all of the helper scripts. To get this token for your own use, go to the Settings
# page of your Canvas profile (https://[your Canvas site]/profile/settings) and click '+ New access token'. Paste the
# resulting token below.
canvas_api_token = *** your Canvas API access token here ***


# ----------------------------------------------------------------------------------------------------------------------
#     The quizzes created by the WebPA script can be edited if required by changing the default content below.
# ----------------------------------------------------------------------------------------------------------------------

# Customise the WebPA quiz title and description below. Note that [group name] will be appended to the title value for
# later use when processing responses. The title must be plain text, but the description can use basic HTML.
webpa_quiz_title = Peer contribution assessment
webpa_quiz_description = <p>For each rating question, please choose a number from 1–5:</p>
                         <ol>
                         <li>Made only a small contribution, or contributed work of a poor standard</li>
                         <li><i>(between 1 and 3)</i></li>
                         <li>Made an average contribution</li>
                         <li><i>(between 3 and 5)</i></li>
                         <li>Contributed to the most challenging aspects of the work at a high standard</li>
                         </ol>
                         <p>Enter a rating for <u>every</u> group member, <u>including yourself</u>.</p>
                         <p>Ratings that are not integers within the range 1–5 will be rounded to the nearest valid
                         value.</p>
                         <p>If a group member is entirely unresponsive, report this separately (and rate them as 1 in
                         this exercise).</p>

# Customise the rating and comments WebPA quiz questions below. The `webpa_rating_question_description` value *must*
# contain the string `{group member}` to allow individual group members' details to be inserted. Both descriptions can
# use basic HTML. (Note: we don't currently use quiz question titles as Canvas doesn't seem to actually display them.)
webpa_rating_question_description = <p>Enter a contribution rating for {group member}. Your response must be a number –
                                    either 1, 2, 3, 4, or 5.</p>
webpa_comment_question_description = <p><u>Optional</u>: enter any additional comments about group member contribution.
                                     You can enter "None" or leave blank to skip.</p>


# ----------------------------------------------------------------------------------------------------------------------
#     Most helper tools require only the standard Canvas API token above, but in some cases additional details are
#     required as outlined below. These fields can be ignored if you don't use the helper tools that require them.
# ----------------------------------------------------------------------------------------------------------------------

# The quiz result exporter script needs to know the LTI API location for your version of Canvas. To get this value, open
# the Network tab of your browser's Developer Tools whilst in the assignment's SpeedGrader view, then look at the list
# of Request URLs to find one similar to https://[your LTI institution subdomain].quiz-lti-dub-prod.instructure.com/api/
lti_institution_subdomain = *** your LTI subdomain here ***

# The quiz result exporter script also requires an access token for the Quiz LTI app. There are two ways to get this:
# 1) Visit the quiz assignment in question and then open your browser's Developer Tools. In the Network tab, look at the
#    Request Headers for one of the initial requests (such as 'info') and copy the token from the 'authorization' row.
# 2) Alternatively, open your browser's JavaScript console in the quiz assignment's SpeedGrader view and enter
#    `open(window.speedgrader_iframe.src)` (without quotes). In the window that opens, open the console again and enter
#    `window.sessionStorage.access_token` (without quotes). The returned value (without quotes) is the token you need.
# NOTE: this token is short-lived, so needs to be re-entered periodically - just follow either of the steps above again.
lti_bearer_token = *** your LTI bearer token here ***
